@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Caveat:wght@400..700&display=swap');

.page {
  font-family: "Alegreya", serif;
  padding: 0;
  margin: 0;
  background: #f8f8f8;
  color: #1c3b35;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.logo {
  width: 130px;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav-link {
  text-decoration: none;
  color: #2c6e64;
  font-weight: 500;
  font-size: 20px;
}

.nav-link.active {
  font-weight: bold;
  color: #000;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px 0 100px;
  flex-wrap: wrap;
}

.text-content {
  max-width: 500px;

}

.text-content h1 {
  text-align: center;
  color: black;
  font-size: 30px;
  margin-bottom: 16px;
}

.text-content p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
  font-weight: ;
}

.register-btn {
  background-color: #3ca89c;
  color: #fff;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 2px 2px 0px #1c3b35;
}

.main-image {
  width: 400px;
  max-width: 100%;
}
